
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    
    font-size: 62.5%;
    font-family: 'roboto', sans-serif;
    
}


body{
    width: 100%;
    background: #fafafa;
    position: relative;
}

.icons{
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon{
    margin: 0 10px;
    display: block;
    width: 20px;
    height: 20px;
}

.header{
    width: 100%;
    height: 54px;
    background: white;
    margin: auto;
    background: white;
    border: solid 1px #DADADA;
}

.navbar{
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar__brand-logo{
    width: 120px;
    min-width: 120px;
    height: 35px;
    background-image: url("./assets/icons/logo.PNG");

}

.navbar__search-box{
    width: 200px;
    height: 28px;
    border: solid 1px #DBDBDB;
    border-radius: 3px;
    background: #F9F9F9;
    text-align: center;

}

/* .navbar__link{

    display: block;
    width: 25px;
    height: 25px;
} */

.navbar__menu{
    /* width: 30%; */
    height: 100;
    display: flex;
    align-items: center;
}





.navbar__icon--home{
    
    background-image: url("./assets/icons/home.PNG");
    margin-left: 0;

}

.navbar__icon--massenger{


    background-image: url("./assets/icons/messenger.PNG");  
}

.navbar__icon--explore{
    background-image: url("./assets/icons/explore.PNG");  
}

.navbar__icon--heart{
    background-image: url("./assets/icons/like.PNG");
}

.navbar__icon--perfil{
    background-image: url("./assets/images/cover 1.png");
    border-radius: 50%;
    margin-right: 0;
}


.main{

    width: 50%;
    display: grid;
    margin: 30px auto;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    grid-template-areas: "history sidebar"
                         "feed    sidebar"
    ;
}

.history__container{
    margin: 10px 0 10px 15px;
}

.history{
    
    /* height: 90px; */
    background: white;
    display: flex;
    align-items: center;
    border: solid 1px #DADADA;
    border-radius: 2px;
    grid-area: history;

}

.history__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 1px;
    border: solid 2px red;
}

.history__p{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.feed{
    grid-area: feed;
}

.card{
    width: 100%;
    background: white;
    border: solid 1px #DADADA;
    border-radius: 2px;
}

.card__header{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__container-profile{
    display: flex;
    align-items: center;
}

.card__profile-photo{
   
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 1px;
    border: solid 2px red;
    margin:10px;
}

.card__name-user{
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.card_options-button{
    
    margin-right: 10px;
    width: 20px;
    height: 10px;
    background-image: url("./assets/icons/option.PNG");
}

.card__picture{
    width: 100%;
    height: auto;
}


.card__bar-button{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}



.card__buttons-left{
    display: flex;
}


.card__icon--like{
    background: url("./assets/icons/like.PNG");
   
}

.card__icon--comment{
    background: url("./assets/icons/comment.PNG");
   
}

.card__icon--send{
    background: url("./assets/icons/send.PNG");
 
}

.card__icon--save{
    background: url("./assets/icons/save.PNG");
    
}

.card__icon{

    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    margin: 10px;

}